@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~bootstrap/scss/functions";
$mhoc: #006b3c;
$primary: $mhoc;
@import "~bootstrap/scss/variables";
$custom-colours: (
    "mhoc": $mhoc
);
$theme-colors: map-merge($theme-colors, $custom-colours);
$font-family-sans-serif:      Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            var(--#{$prefix}font-sans-serif);
$font-family-code:            var(--#{$prefix}font-monospace);
@import "~bootstrap/scss/bootstrap";
